<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProfile name="!docker">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{30}) - %msg%n</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
        <logger name="com.conceptarena" level="DEBUG" />
    </springProfile>

    <springProfile name="docker">
        <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>{"timestamp":"%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ}","level":"%level","service":"auth-service","logger":"%logger{30}","thread":"%thread","requestId":"%X{requestId}","eventId":"%X{eventId}","eventType":"%X{eventType}","userId":"%X{userId}","message":"%msg"}%n</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="JSON_CONSOLE" />
        </root>
        <logger name="com.conceptarena" level="INFO" />
    </springProfile>

</configuration>
